@font-face {
    font-family: 'Poppins';
    src: url('Fonts/Poppins/Poppins-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --White: #FFFFFF;
    --GreenBackground: #9DA189;
    --LightGreen: #AAA48F;
    --DarkGreen: #626956;
    --Brown: #82503E;
}


body {
    background-color: var(--GreenBackground);
    color: var(--White);
    font-family: 'Poppins', Arial, sans-serif;
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-top: 0;
}

/** -------------------------- Header -------------------------- **/
#header {
    background-image: url("Art/Background.png");
    background-size: cover; /* Remplit le conteneur sans déformer */
    background-repeat: no-repeat; /* Empêche la répétition */
    background-position: center; /* Centre l'image */
    width: 100%; /* Prend toute la largeur */
    height: 100vh; /* Hauteur égale à la taille de la fenêtre */
    margin: 0;
    color: white; /* Texte blanc pour contraste */
}


#header div {
    width: fit-content;
    margin: 0 auto; 
}

#header div h1 {
    width: fit-content;
    font-size: 3rem;
}


#header div p {
    width: fit-content;
    font-size: 1.6rem;
    margin: 0;
}

#header div #top_title {
    padding-top: 40vh;
}

/** ------------------------------------------------ NAVBAR ------------------------------------------------ **/

#navbar {
    /*background-color: var(--Brown);*/
    width: 90vw;
    margin-top: -76px;
    margin-left: 5vw;
}

#navbar ul {
    display: flex;
    list-style: none;
}


.nav_numbers {
    font-size: 12px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: right;
    margin-bottom: -6px;
    margin-right: -6px;
}

#nav_element_2, #nav_element_3 {
    margin-left: 40px;
}

#navbar ul div li a {
    color: var(--White);
    text-decoration: none;
}

/** ------------------------------------------------ About me ------------------------------------------------ **/

#about_me {
    margin-top: 100px;
    width: 80vw; 
    margin-left: 10vw;
}

#about_me h2 {
    font-size: 42px;
    max-width: fit-content;
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
}

#about_me #section_1 {
    display: flex;
    align-items: center;

}

#about_me #section_1 #photo{
    width: 40vw;
}

#about_me #section_1 #photo img{
    margin-left: 7vw;
    width: 26vw;
    margin-top: 50px;
}

/* Compotence */

#about_me #competences h3 {
    font-size: 38px;
    margin-left: 2vw;
}

#about_me #competences #competences_list .comp {
    background-color: var(--DarkGreen);
    font-size: 24px;
    width: fit-content;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    margin: 0; 
}
#about_me #competences #competences_list {
    display: flex;
    flex-flow: row wrap;
    gap: 14px
}




#about_me #section_1 #competences{
    width: 40vw;
}

/**/

#about_me #section_2 {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

#about_me #section_2 p {
    width: 30vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

#about_me #section_2 button {
    border-style: none;
    background-color: var(--Brown);
    border-radius: 30px;
    border-style: none;

    margin-left: auto;
    margin-right: auto;
    
    font-size: 33px;
    color: var(--White);
    padding-top: 25px;
    padding-bottom: 25px;

    padding-left: 30px;
    padding-right: 30px;
}




/** ----------------------------------- PROJECTS ------------------------------------- **/

#projects {
    width: 60vw;
    margin-left: 20vw;
}

#projects h2 {
    font-size: 42px;
    max-width: fit-content;
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
}

#projects #nav_projects {
    display: flex;
}

#projects #nav_projects button {
    margin-top: 0;
    margin-bottom: 0;
    border-style: none;
    background-color: transparent;
    color: var(--White);
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 24px;
}

#projects #nav_projects p {
    margin-left: 3vw;
    font-size: 24px;
    margin-right: 10px;
}
#projects #nav_projects button:hover {
    color: var(--Brown);
    cursor: pointer;
}

#projects #items-container{
    display: flex;
    flex-wrap: wrap;
}

#projects #items-container .item{
    background-color: var(--DarkGreen);
    width: 28vw;
    margin-left: 1vw;
    height: 28vw;
    border-radius: 50px;
    margin-top: 50px;
}

#projects #items-container .item.hidden {
    display: none;
  }

#projects #items-container .item img{
    width: 98%;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 45px 45px 0 0;
    height: 70%;
    object-fit: cover
}

#projects #items-container .item p {
    margin: 0;
}


#projects #items-container .item .title{
    margin-left: 10%;
    margin-top: 6%;
    font-size: 28px;
}
#projects #items-container .item .desc{
    margin-left: 10%;
    font-size: 18px;
    margin-top: 4%;
}


/** ------------------------------------ FOOTER  ------------------------------------ **/

footer {
    background-color: var(--Brown);
    height: 400px;
    margin-top: 100px;
}